.title {
    font-size: 4em;
    font-family: 'Fredericka the Great', cursive;
    line-height: 1;
    /* color: #a5673f; */
}

.subtitle {
    font-size: 2.5em;
    font-family: 'Sacramento', cursive;
    line-height: 1;
    /* font-weight: bold; */
    /* color: #a5673f; */
}

.tagline {
    font-size: 1.5em;
    font-family: 'Josefin Slab', serif;
    /* color: #a5673f; */
}

.book-title {
    font-size: 1.75em;
    font-family: 'Sacramento', cursive;
    line-height: 1;
}

.book-author {
    font-size: 1.5em;
    font-family: 'Josefin Slab', serif;
    line-height: 1;
}